
@{
    ViewData["Title"] = "ShopProducts";
}

<div class="row">

    @await Html.PartialAsync("_LeftSideBar")

    <div class="col-sm-9 padding-right">

        @await Html.PartialAsync("_FeaturesItems")

    </div>

</div>

