
@{
    ViewData["Title"] = "Index";
}

@section Slider{
    @await Html.PartialAsync("_Slider")
}

<div class="row">

    @await Html.PartialAsync("_LeftSideBar")

    <div class="col-sm-9 padding-right">

        @await Html.PartialAsync("_FeaturesItems")

        @await Html.PartialAsync("_CategoryTab")

        @await Html.PartialAsync("_RecommendedItems")

    </div>

</div>